/* Main Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("./img/back.jpg");
  background-size: cover;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* Header styles */
.appheader {
  background: rgba(225, 225, 225, 0.466);
  width: 60%;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
}
header {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 3;
  text-align: center;
  margin-bottom: 10px;
}

/* Form and selector Stayles */
form {
  display: flex;
  min-width: 60%;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 10px;
  font-size: 1rem;
  border: none;
  background: white;
  appearance: none;
  outline: 0;
  border: 0 !important;
}
form input {
  width: 70%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
form button {
  margin-right: 2%;
  color: #000000;
  background: #6ff7f3ee;
  cursor: pointer;
  padding-right: 30px;
  padding-left: 30px;
  transition: all 0.3s ease;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
form button:hover {
  background: #1b74ef;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  background: #6ff7f3ee;
  border: 0 !important;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
}
select:hover {
  background: #1b74ef;
}

/* Todos list style */
.todo-container {
  margin-top: 20px;
}
.todo-list {
  min-width: 100%;
  list-style: none;
}
.todo {
  border-radius: 10px;
  margin-top: 1rem;
  background: white;
  font-size: 1rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.trash-btn {
  border-radius: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  border-radius: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  background: #6ff7f3ee;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
}
section button {
  width: 40px;
  min-height: 40px;
}
.todo-item {
  padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.copyright {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

/* SMALL SCREEN ONLY */
@media (max-width: 700px) {
  header {
    font-size: 0.8rem;
  }
  .appheader {
    width: 80%;
  }
}
